.imageBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    height: 920px;
    background: url("@/assets/HomePageImage.png") center/cover no-repeat;
}

.divider {
    border-top: 2px solid white;
    width: 600px;
}

.imageBlock__element {
    margin: 0 0 20px 0;
}

.imageBlock__element:nth-child(even) {
    margin-bottom: 60px;
}

.imageBlock__element__heading {
    font-size: 62px;
    line-height: 64px;
}
