.imageBlock {
    position: relative;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 666px;
    object-fit: cover;
}

.cardInfo {
    width: 100%;
    margin: 20px 0;
}

.cardInfo__element {
    width: 100%;
    margin-bottom: 6px;
}

.cardInfo__element:last-child {
    margin-bottom: 0;
}

.cardInfo__element__titleBlock {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new {
    color: #F895B7;
}

.colors {
    display: flex;
}

.color {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-right: 2px;
}

.color:last-child {
    margin-right: 0;
}