.main {
    padding: 90px 40px 0;
}

.blockHeader {
    margin: 0 0 60px 0;
}

.carousel {
    margin: 60px 0 40px 0;
    position: relative;
}

.carousel__title {
    font-size: 24px;
    line-height: 24px;
}

.viewport {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
}

.prevBtn,
.nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 50%;
    backdrop-filter: blur(20px);
}

.prevBtn {
    left: -23px;
}

.nextBtn {
    right: -23px;
}