.flexible {
    display: flex;
}

.header {
    composes: flexible;
    position: relative;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 33px;
}

.button {
    margin-right: 16px
}

.button:last-child {
    margin-right: 0;
}

.buttonIcon {
    width: 17px;
    height: 17px;
}

.buttonText {
    font-size: 14px;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading__text {
    margin: 0;
    font-weight: 600;
}