@import "tailwindcss";

* {
    box-sizing: border-box;
}

#root {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 0;
    border: 0;
    background-color: transparent;
}

p {
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
