@import "tailwindcss";

* {
    box-sizing: border-box;
}

#root {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Arial, sans-serif;
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
}
